server {
    listen 80;
    listen [::]:80;
    server_name {{ tls_common_name }};

    location /.well-known/acme-challenge/ {
        root {{ tls_webroot }};
        default_type "text/plain";
        try_files $uri =404;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name {{ tls_common_name }};

    ssl_certificate {{ server_fullchain_path }};
    ssl_certificate_key {{ server_key_path }};

    root {{ tls_webroot }};
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }
}
